@media screen and (min-width: 800px) {
    .output {
        width: 55vw;
    }
}

@media screen and (max-width: 424px) {
    .inputContainer {
        justify-content: center;
    }

    .inputContainer__input {
        margin-bottom: 5px;
    }
}